<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Bootstrap latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Bootstrap optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link href="/static/slider.css" rel="stylesheet">
    <link rel="icon" href="/static/favicon.png">
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <!-- <script src="/static/lights.js"></script> -->
    <title>Growing Gardens - Home</title>
<style>

#profile-text {
  width: 50%;
  float: left;
}
#profile-pic {
  width: 50%;
}
.right-pics {
  float: right;
  width: 50%;
}
#right-pic1 {
  padding-bottom: 10px;
}
@media screen and (max-width: 580px) {
  #profile-text {
  width: 100%;
  }
  .right-pics {
  width: 100%;
}
}

</style>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/" style="text-decoration: none; color: #9d9d9d; font-size: 1.5em;">
        <img class="img-responsive" src="static/gglogo.png" style="display:inline-block; max-width: 45px; border-radius:50%; line-height: normal" alt="logo">
        <p style="display:inline-block; line-height: normal;
        margin-bottom:0px">GROW</p>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://github.com/danieldn/wecode-growing-gardens" target="_blank" >GitHub</a></li>
        <li><a href="/">Logout</a></li>
        <li><a href="/survey">Survey</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- <div class="absolute"><button id="userProfile">Try it out!</button></div> -->
<div id=commentBox>
    <h1>Growing Garden Community Platform - Dashboard</h1>
</div>


    <div id="profile">
    </br>
      <h1>Profile</h1>
    </br>
    <p id="profile-text">
      <img class="profile" id="profile-pic" src="/static/user-pic.png">
      <br>
      Quisque volutpat condimentum velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam nec ante. Sed lacinia, urna non tincidunt mattis, tortor neque adipiscing diam, a cursus ipsum ante quis turpis. Nulla facilisi. Ut fringilla. Suspendisse potenti. Nunc feugiat mi a tellus consequat imperdiet. Vestibulum sapien. Proin quam. Etiam ultrices. 
      </p>
    </br>
    <div class="right-pics">
      <a class="twitter-timeline" data-height="400" href="https://twitter.com/growinggardens?ref_src=twsrc%5Etfw">Tweets by growinggardens</a>
      <img id="right-pic1" src="/static/user-pic.png">
    </div>
    </div>


  <footer>
    <small>&copy;
      &nbsp;WeCode 2019 Hackathon</small>
  </footer>
</div>

<!-- Twitter feed -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- JQuery Slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.8.3/jquery.csv.js"></script>
<!-- Bootstrap latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<!-- Bootstrap Select latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</body>
</html>